<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jpetstore_manage.Mapper.OrderMapper">

    <update id="updateOrderStatus">
        update order_main set status = #{status} where order_id = #{orderId} and supplier_id=#{supplier}
    </update>
    <update id="updateOrderReceiver">
        update order_main set receiver_name = #{receiverName},receiver_phone=#{receiverPhone},receiver_address=#{receiverAddress} where order_id = #{orderId} and supplier_id=#{supplierId}
    </update>

    <select id="selectOrderBySupplier" resultMap="orderList">
        select * from order_main o,order_item i where o.order_id=i.order_id and o.supplier_id=#{supplier} and o.status not in (5,6)
    </select>
    <resultMap id="orderList" type="com.example.jpetstore_manage.POJO.DataObject.OrderMainDO">
        <id  column="order_id" property="orderId"/>
        <result column="order_time" property="orderTime" />
        <result column="order_cost" property="orderCost" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="status" property="status" />
        <collection property="orderItemDOList" column="order_id" ofType="com.example.jpetstore_manage.POJO.DataObject.OrderItemDO">
            <id column="order_item_id" property="orderItemId" />
            <result column="product_name_Chinese" property="productNameChinese" />
            <result column="item_specification" property="itemSpecification" />
            <result column="item_quantity" property="itemQuantity" />
        </collection>
    </resultMap>
</mapper>