<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jpetstore_manage.Mapper.PetMapper">

    <select id="selectProductBySupplier" resultMap="selectProductBySupplier">
        select * from pet_product where supplier_id = #{supplier}
    </select>
    <resultMap id="selectProductBySupplier" type="com.example.jpetstore_manage.POJO.DataObject.PetProductDO">
        <id property="productId" column="product_id" />
        <result column="category" property="category" />
        <result column="product_name_Chinese" property="productNameChinese" />
        <result column="product_name_English" property="productNameEnglish" />
        <result column="product_image" property="productImage" />
    </resultMap>

    <select id="selectProductByProductId" resultMap="selectProductByProductId">
        select * from pet_product p,pet_item i where p.product_id = i.product_id and p.product_id = #{productId}
    </select>
    <resultMap id="selectProductByProductId" type="com.example.jpetstore_manage.POJO.DataObject.PetProductDO">
        <id property="productId" column="product_id" />
        <result column="category" property="category" />
        <result column="product_name_Chinese" property="productNameChinese" />
        <result column="product_name_English" property="productNameEnglish" />
        <result column="product_character" property="productCharacter" />
        <result column="product_ancestry" property="productAncestry" />
        <result column="product_disease" property="productDisease" />
        <result column="product_life" property="productLife" />
        <result column="product_introduce" property="productIntroduce" />
        <result column="product_image" property="productImage" />
        <collection property="petItemList" column="product_id" ofType="com.example.jpetstore_manage.POJO.DataObject.PetItemDO">
            <id column="item_id" property="itemId" />
            <result column="item_specification" property="itemSpecification" />
            <result column="item_price" property="itemPrice" />
            <result column="item_stock" property="itemStock" />
        </collection>
    </resultMap>


    <insert id="insertPetProduct" parameterType="com.example.jpetstore_manage.POJO.DataObject.PetProductDO" >
        <selectKey keyProperty="productId" order="AFTER" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into pet_product (category,product_name_Chinese,product_name_English,product_character,product_ancestry,product_disease,product_life,product_introduce,product_image,supplier_id)
        values (#{category}, #{productNameChinese}, #{productNameEnglish}, #{productCharacter},#{productAncestry}, #{productDisease}, #{productLife}, #{productIntroduce}, #{productImage},#{supplierId})
    </insert>
    <insert id="insertPetItem" parameterType="com.example.jpetstore_manage.POJO.DataObject.PetItemDO" >
        insert into pet_item (product_id,item_specification,item_price,item_stock)
        values (#{productId}, #{itemSpecification}, #{itemPrice}, #{itemStock})
    </insert>


    <delete id="remove">
        delete from pet_product where product_id = #{productId} and supplier_id = #{supplier}
    </delete>


    <update id="updatePetProduct" parameterType="com.example.jpetstore_manage.POJO.DataObject.PetProductDO" >
        update pet_product
        <set>
            category = #{category},
            product_name_Chinese = #{productNameChinese},
            product_name_English = #{productNameEnglish},
            product_character = #{productCharacter},
            product_ancestry = #{productAncestry},
            product_disease = #{productDisease},
            product_life = #{productLife},
            product_introduce = #{productIntroduce},
            product_image = #{productImage}
        </set>
        where product_id = #{productId} and supplier_id = #{supplierId}
    </update>
    <update id="updatePetItem" parameterType="com.example.jpetstore_manage.POJO.DataObject.PetItemDO" >
        update pet_item
        <set>
            item_specification = #{itemSpecification},
            item_price = #{itemPrice},
            item_stock = #{itemStock}
        </set>
        where item_id = #{itemId}
    </update>
</mapper>